@model IEnumerable<AWSMvcSegundaPractica.Models.Evento>

@{
    List<Categoria> categorias = ViewData["CATEGORIAS"] as List<Categoria>;
    string UrlBucket = KeysModel.S3BucketUrl;
}

<h1>EventosCategorias</h1>

<form method="post">
    <label>Seleccione una Categoria:</label>
    <select name="idcategoria" class="form-select">
        @foreach (Categoria cate in categorias)
        {
            <option value="@cate.IdCategoria">@cate.Nombre</option>
        }
    </select>
    <button class="btn btn-outline-info">
        Buscar
    </button>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Idevento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artista)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idevento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artista)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategoria)
                    </td>
                    <td>
                        <img src="@UrlBucket@item.Imagen" style="width:100px;height:100px" />
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}